@import "tailwindcss";
@plugin '@tailwindcss/typography';


body {
  background-color: #3f3f3f; /* Dark Gray */
  color: #e0e0e0; /* Light Gray Text */
}

@font-face {
  font-family: 'Arimo';
  src: url('/fonts/Arimo-Variable.woff2') format('woff2');
  /* font-weight: 100 700; */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Variable.woff2') format('woff2');
  /* font-weight: 100 900; */
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Arimo', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Satoshi', sans-serif;
}

img {
  @apply rounded-lg;
  opacity: .88;
}