---

---

<div class="flex bg-stone-700">
    <div class="flex-1">
        <h1>About Me</h1>
        <p>Hi, I'm Jef Brown. I'm a freelance artist and web developer. I'm passionate about creating beautiful, functional websites and applications. I'm always looking for new projects to work on, so feel free to reach out if you'd like to collaborate!</p>
    </div>
    <div class="flex-1">
        <img src="https://placehold.co/400x400" alt="Jef Brown" />
    </div>
</div>