---
title: "CV"
author: "Jef Brown"
draft: "false"
date: "{date}"
---



<div class="grid grid-cols-2">

    <div class="">
        <h1>Currently</h1>

    </div>

<div class="">
    <h1>Skills</h1>
    <h1>Education</h1>
</div>

<a href="">Read Full CV</a>

</div>

