---
// import CV from "./CV.astro"
// import About from "./About.astro"
---

<!-- <About /> -->
<!-- <CV /> -->

<div class="grid">
    <div class="">
        <h1 class="text-8xl font-bold">Hi, My name is Jef and I am an Artist.</h1>
    </div>

    <h2 class="text-6xl">The Story So Far, <br />
        Tell the story in blocks. Worked with **him** and her. Freelanced for these people. I can draw and paint and know code. here are some Social Media Sites I rarely check:
    </h2>

</div>