---
---

<style>
    a {
        margin-right: 1rem;
        color:aqua
    }
</style>

<div>
    <a href="https://github.com/JEFLBROWN">Github</a>
    <a href="https://www.linkedin.com/in/jef-brown-0232a341/">LinkedIn</a>
    <a href="https://bsky.app/profile/jefbrown.bsky.social">Bsky</a>
    <a href="https://www.instagram.com/jeflbrown/">Instagram</a>
    <a href="mailto:hello@jefbrown.com?subject=I%20♥%20your%20work">Email</a>
</div>