---
import Links from './Links.astro'
---

    <div class="flex xl:p-8 mb-4">
        <div class="flex-1">
            <h1>Jef<br />Brown</h1>
        </div>
        <div class="flex-1">
                <h1>Freelance<br /> Artist</h1>
        </div>
        <div class="flex-2">
            <h1>Contact<br />Info</h1>
        </div>
        <div class="flex justify-items-end">
            <h1>Contact</h1>
        </div>
    
    </div>