---
import Links from './Links.astro'
---

    <div class="flex lg:px-10">
        <div class="flex-1">
            <p class="">Jef Brown</p>
        </div>
        <div class="flex-2 text-center">
                <p class="">Freelance Artist, Designer, Illustrator, Extrodinare</p>
        </div>
        <div class="flex-1 text-right">
            <a href="">Cirriculum Vitae</a>
            <a href="mailto:hello@jefbrown.com?subject=I%20♥%20your%20work">Say Hello</a>
        </div>
    </div>