---
---

<div class="pt-40">
  <!-- <h1 class="text-center text-9xl">JEF BROWN</h1> -->
  <h1 class="text-center text-9xl">Selected Works</h1>
</div>

<div id="work" class="grid gap-2 py-20">
<!-- First Project -->
  <div class="grid grid-gap-8 ">
      <!-- <h1>First Project</h1> -->
      <img src="https://placehold.co/1600x900/black/grey" alt="">
  </div>

  <hr>
  <!-- Gallery-->

  <h2 class="text-center text-4xl">Gallery View</h2>
  <div class="grid gap-2 grid-cols-3">
    <img class="flex-1" src="https://placehold.co/360x360/black/grey" alt="">
    <img src="https://placehold.co/360x360/black/grey" alt="">
    <img src="https://placehold.co/360x360/black/grey" alt="">
    <img src="https://placehold.co/360x360/black/grey" alt="">
    <img src="https://placehold.co/360x360/black/grey" alt="">
    <img src="https://placehold.co/360x360/black/grey" alt="">
    <img src="https://placehold.co/360x360/black/grey" alt="">
    <img src="https://placehold.co/360x360/black/grey" alt="">
    <img src="https://placehold.co/360x360/black/grey" alt="">
  </div>
  
  <hr>
  <!-- Third Project -->
  <div class="grid grid-cols-1 place-self-center">
    <h1>Arcana Botanica</h1>
    <img src="https://placehold.co/720x960/black/grey" alt="">
    <h2>FULL PROJECT 🡥🡣</h2>
  </div>
</div>